<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="filename">./logs</Property>
    </Properties>
    <Appenders>
        <!-- File Appender -->
        <RollingFile name="file"
                     fileName="${filename}/log4.log"
                     filePattern="${filename}/log4-%d{HHH-mm-ss-SSS}.log"
                     append="true">

            <PatternLayout>
                <pattern>%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="2 KB" />
        </RollingFile>

        <!-- Console Appender -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>

    </Loggers>
</Configuration>


